@import "profil-publique/profil.css";

:root {
  --body-color: #91500E;
  --bnac-color: linear-gradient(180deg, #FED17C 0%, #FBA327 46%, rgba(201, 85, 2, 0.73) 115%);
  --p-color: #FFE7BA;
  --profil-color: #5C2300;
  --button-color: #C95502;
}

/* In HTML, linkCard and img must have the class "link-style-full" */

body {
  background-color: var(--body-color);
}

.big-card {
  background: var(--bnac-color);
}

.link-style-solide {
  background-color: var(--button-color);
}

.link-style-hard {
  box-shadow: var(--box-shadow-color);
}

.profile-container h1, .profile-container p {
  color: var(--profil-color);
}

.middle a {
  color: var(--p-color);
}

.foot, .foot a {
  color: var(--profil-color);
}